@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme("colors.white");
    --foreground: theme("colors.zinc.900");
    --primary: theme("colors.zinc.800");
    --primary-foreground: theme("colors.zinc.50");
    --secondary: theme("colors.zinc.100");
    --secondary-foreground: theme("colors.zinc.600");
    --muted: theme("colors.zinc.100");
    --muted-foreground: theme("colors.zinc.500");
    --accent: theme("colors.zinc.100");
    --accent-foreground: theme("colors.zinc.900");
    --success: theme("colors.green.400");
    --success-foreground: theme("colors.zinc.50");
    --warning: theme("colors.yellow.400");
    --warning-foreground: theme("colors.zinc.50");
    --danger: theme("colors.red.400");
    --danger-foreground: theme("colors.zinc.50");
    --info: theme("colors.blue.400");

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-primary outline-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}
