@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* TODO: 색상 재선정 */
    --background: theme("colors.white");
    --foreground: theme("colors.zinc.900");
    --primary: theme("colors.lime.500");
    --primary-foreground: theme("colors.zinc.50");
    --secondary: theme("colors.lime.600");
    --secondary-foreground: theme("colors.zinc.50");
    --muted: theme("colors.zinc.300");
    --muted-foreground: theme("colors.zinc.500");
    --accent: theme("colors.lime.300");
    --accent-foreground: theme("colors.zinc.900");
    --success: theme("colors.green.500");
    --success-foreground: theme("colors.zinc.50");
    --warning: theme("colors.yellow.500");
    --warning-foreground: theme("colors.zinc.50");
    --danger: theme("colors.red.500");
    --danger-foreground: theme("colors.zinc.50");
    --info: theme("colors.zinc.300");

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply outline-none border-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
}
